.portfolio {
    font-family: Inter, Arial, sans-serif;
    display: flex;
    flex-direction: column;
    width: 100%;
    min-height: 525px;
    background-color: #FAFAFA;
    color: #000;
}

.portfolio__container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 85px 70px 0 70px;
}

.portfolio__title {
    margin: 0 0 30px;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 20px;
    text-align: start;
    color: #a0a0a0;
}

.portfolio__item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 89px;
    border-bottom: #e8e8e8 1px solid;
    text-decoration: none;
}

.portfolio__item:last-of-type {
    border-bottom: none;
}

.portfolio__item:hover {
    opacity: .6;
    transition: opacity ease-out 0.3s;
}

.portfolio__item-title {
    color: #000000;
    margin: 0;
    font-style: normal;
    font-weight: normal;
    font-size: 30px;
    line-height: 50px;
    letter-spacing: -0.04em;
}

.portfolio__item-arrow {
    width: 20px;
    height: 20px;
}

@media screen and (max-width: 900px) {
    .portfolio {
        min-height: 476px;
    }

    .portfolio__container {
        margin: 70px 50px;
    }

    .portfolio__item-title {
        font-size: 28px;
        line-height: 50px;
    }

    .portfolio__item-arrow {
        padding: 8px 5px 0px 0px
    }
}

@media screen and (max-width: 450px) {
    .portfolio {
        min-height: 364px;
    }

    .portfolio__container {
        margin: 70px 14px 0 14px;
    }

    .portfolio__title {
        margin: 0 0 20px;
        font-size: 14px;
        line-height: 20px;
    }

    .portfolio__item {
        height: 67px;
    }

    .portfolio__item-title {
        font-size: 18px;
        line-height: 28px;
    }

    .portfolio__item-arrow {
        width: 10px;
        height: 10px;
        padding: 8px 5px 12px 0px;
    }

}
