.search {
    font-family: Inter, Arial, sans-serif;
    color: white;
    padding: 95px 0 0;
    margin: 0 70px;
}

.search__container {
    display: flex;
    margin: 0 auto;
    box-sizing: border-box;
    border-bottom: 1px solid rgba(170, 170, 170, .2);
    align-items: baseline;
    padding-bottom: 25px;
}

.search__form {
    width: 100%;
    margin: 0 41px 0 0;
}

.search__input-container {
    box-sizing: border-box;
    padding: 6px;
    border-radius: 50px;
    display: flex;
    margin-bottom: 42px;
    border: 1.5px solid #AAAAAA;

}

.search__input {
    width: 100%;
    font-size: 14px;
    font-weight: 400;
    line-height: 18px;
    margin: 0 46px 0 10px;
    padding: 0 6px;
    border-radius: 20px;
    background-color: #fafafa;
    border: none;
    outline-color: #4285F4;
    color: black;
}

.search__button {
    display: flex;
    align-items: center;
    border: none;
    height: 34px;
    width: 34px;
    border-radius: 30px;
    margin: 0 7px 0 7px;
    opacity: 1;
    background-color: #fafafa;

}

.search__button:hover {
    opacity: 0.8;
    cursor: pointer;
}

.search__short-films {
    width: 167px;
    display: flex;
    justify-content: space-between;
    margin: 0 auto 70px;
}

.search__short-films_title {
    align-self: center;
    font-size: 13px;
    font-weight: 400;
    line-height: 18px;
    color: black;
    margin: 0 14px 0 0;
}

@media screen and (max-width: 900px) {
    .search {
        padding: 57px 0 0;
        margin: 0 30px;
    }

    .search__container {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .search__short-films {
        margin: 0 auto 30px;
    }
}

@media screen and (max-width: 450px) {
    .search {
        padding: 0 0 10px;
        margin: 0 12px;
    }

    .search__container {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 60px auto 0;
    }

    .search__input {
        font-size: 11px;
        line-height: 18px;
        margin: 0;
    }

    .search__input-container {
        margin-bottom: 30px;
    }

    .search__short-films_title {
        font-size: 11px;
        line-height: 18px;
    }

    .search__short-films {
        width: 150px;
        margin: 0 auto 17px;
    }

    .search__input-container {
        margin-bottom: 45px;
    }

    .search__form {
        min-width: 300px;
        margin: 0 auto;
    }
}
